<footer style="background-image: url('./frontEndPackage/images/footer-building.png')">
    <div class="container text-center d-flex flex-column">
        <a class="mb-3" href="/">
            <img src="./frontEndPackage/images/logo-sm.png" alt="" />
        </a>

        <div class="text-white">
            <p>地址&nbsp&nbsp台北市內湖區陽光街381號6樓</p>
            <ul class="list-unstyled">
                <li>Tel&nbsp&nbsp<a href="tel:+886-2-2659-8049" class="text-white">02-2659-8049</a></li>
                <li>Mail&nbsp&nbsp<a href="mailto:ru3ru8@gmail.com" class="text-white"></a>ru3ru8@gmail.com</li>
            </ul>
        </div>
        <p class="text-white">Copyright © 久佳營造. All rights reserved.</p>
    </div>

    <ul class="photonic d-flex list-unstyled justify-content-center mb-0 pb-1 text-white">
        傳訊光科技:&nbsp
        <li>
            <a target="_blank" href="https://shop.photonic.com.tw/" target="_blank" class="text-white"
                >購物車&nbsp</a
            >/&nbsp
        </li>
        <li>
            <a target="_blank" href="https://www.photonic.com.tw/" target="_blank" class="text-white"
                >網頁設計&nbsp</a
            >/&nbsp
        </li>
        <li>
            <a target="_blank" href="http://erp2000.com/" target="_blank" class="text-white">CRM</a>
        </li>
    </ul>
</footer>