.project-container{
    // position:relative;
    padding-top:58px;
    @include small{
        padding-top:70px; 
    }
    @include large{
        padding-top:75px; 
    }
    .title{
        :first-child {
            font-size: 30px;
            font-family: Arial, Helvetica, sans-serif;
            white-space: nowrap;
            @include large {
                font-size: 48px;
            }
        }
        :last-child {
            font-size: 20px;
        }
        @include large {
            font-size: 24px;
        }
    }
}

.project-tabs {
    padding: 0px 30px;
    a {
        min-width: 100px;
        text-align: center;
        padding: 8px 16px;
        color: $dark-text;
        &:hover,
        &.active {
            color: $white;
            background-color: $dark-text;
        }
    }
    .owl-nav {
        font-size: 30px;
        [class*="owl-"]:hover {
            color: initial !important;
            background-color: transparent !important;
        }
        [class*="owl-"]:focus {
            outline: none;
        }
        button.owl-prev {
            z-index: 1;
            position: absolute;
            left: 10px;
            top: -5px;
            margin: 0px;
            background: transparent !important;
        }
        button.owl-next {
            z-index: 1;
            position: absolute;
            right: 10px;
            top: -5px;
            margin: 0px;
            background: transparent !important;
        }
    }
}

.masonry{
    //row-gap: 20px;
    .item{
        margin-bottom:30px;
    }
    .overlay{
        background-image:linear-gradient(to bottom, transparent 80%, rgba(0,0,0,50%) 100%);
        position: absolute;
        top:0;
        left:0;
        height:100%;
        @include padding(0,15px);
        display:flex;
        align-items:flex-end;
    }
}